<h1 class="mt-4 text-white">Modifier un client</h1>


  
    <form #updateClientForm="ngForm" (submit)="updateClient(client.id, updateClientForm)">
        <div class="row justify-content-around">
            <div class="col-4 form-group mt-3">
                <label class="col-11 control-label" for="Name">Name</label>
                <div class="col-11 mx-auto">
                    <input id="Name" type="text" class="form-control" name="name"  [(ngModel)]="client.name" />
                </div> 
            </div>
            <div class="col-4 form-group mt-3">
                <label class="col-11 control-label" for="LastName">Last Name</label>
                <div class="col-11 mx-auto">
                    <input id="LastName" type="text" class="form-control" name="lastname" [(ngModel)]="client.lastName" />
                </div> 
            </div>
            <div class="col-4 form-group mt-3">
                <label for="Email">Email</label>
                <div class="col-11 mx-auto">
                    <input id="Email" type="email" class="form-control" name="email" [(ngModel)]="client.email" />
                </div>
            </div>
        </div>

        <div class="row justify-content-around">
            <div class="col-4 form-group mt-3">
                <label class="col-11 control-label" for="Phone">Phone</label>
                <div class="col-11 mx-auto">
                    <input id="Phone" type="text" class="form-control" name="phone" [(ngModel)]="client.phone" />
                </div> 
            </div>
            <div class="col-4 form-group mt-3">
                <label class="col-11 control-label" for="Company">Company</label>
                <div class="col-11 mx-auto">
                    <input id="Company" type="text" class="form-control" name="company" [(ngModel)]="client.company" />
                </div> 
            </div>
            <div class="col-4 form-group mt-3">
                <label class="col-11 control-label" for="Address">Address</label>
                <div class="col-11 mx-auto">
                    <input id="Address" type="text" class="form-control" name="address" [(ngModel)]="client.address" />
                </div> 
            </div>
        </div>

    <div class="col-3 mx-auto">
        <button class="form-control mt-5 btn-success" [disabled]="!updateClientForm.valid">Update client</button>
    </div>
    </form>

 <div *ngIf="msgTrue" class="text-warning fs-4 mt-2">
     <p>Client updated !</p>
</div>