<mat-card class="todoTemplate">
    <mat-card-header>
      <div *ngIf="todoTemplate.projectType">
        <mat-card-title >{{ todoTemplate.name }} {{ todoTemplate.projectType.name }}</mat-card-title>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="todoTemplate.specialization">
        <p>spécialité : {{ todoTemplate.specialization.name}} | éxperience demandée : {{ todoTemplate.experience}} ans</p>
      </div>
      <p>désciption : {{ todoTemplate.description }}</p>
     
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="deleteTodoTemplateByid(todoTemplate.id)">SUPPRIMER</button>
      <button mat-button [routerLink]="['/todotemplate/update', todoTemplate.id]" class="link primary">METTRE A JOUR</button>
    </mat-card-actions>
  </mat-card>