<p class="text-center fs-6 mt-2">Liste des types de projets</p>
<input type="text" class="form-control" placeholder="Nom du type de projet" [(ngModel)]="searchTerm">    
    <ul>
        <li *ngFor="let pt of projectTypes | projectTypeFilter:searchTerm">
            <a [routerLink]="['/projecttype', pt.id]" class="link primary">
            <mat-card class="projecttypelist">
         
                <h4 class="mat-title">{{ pt.name }}</h4>
           
            </mat-card>
            </a>
        
        </li>  
    </ul>

