<h2>Modifier un type de projet</h2>

<form #updateProjectTypeForm="ngForm" (submit)="updateProjectType(projectType.id, updateProjectTypeForm)">

    <div class="row">

            <div class="col-4 form-group" appearance="fill">
                <mat-label for="subject">Nom</mat-label>
                <input id="projecttype" name="name" type="text" class="form-control" [(ngModel)]="projectType.name">
            </div>

    </div>

    <div class="row">
        <div class="col-4 mt-4">
            <button type="submit" class="btn btn-danger" [disabled]="!updateProjectTypeForm.valid">Valider</button>
        </div>
    </div>
    
</form>
