<mat-card class="todo">
    <mat-card-header>
      <mat-card-title>{{ todo.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Description : {{ todo.description}} | Experience : {{ todo.experience}} ans</p>
      <p>Durée de la tâche : {{todo.time}} minutes | Status : {{ todo.status }}</p>
      <p>User Id : {{todo.userId}}</p>
    </mat-card-content>
    <mat-card-actions>
      <h4>Status :</h4>
<div class="row justify-content-center">
      <div class="col-2" *ngIf="todo.status === 'A Faire'">
        <a><button class="bg-primary text-white" mat-button (click)="updateTodoStatusById(todo.id, 'A Faire')">A faire</button></a>
      </div>
      <div class="col-2" *ngIf="todo.status !== 'A Faire'">
        <a><button mat-button (click)="updateTodoStatusById(todo.id, 'A Faire')">A faire</button></a>
      </div>
      <div class="col-2" *ngIf="todo.status === 'En Cours'">
        <a><button class="bg-primary text-white" mat-button (click)="updateTodoStatusById(todo.id, 'En Cours')">En cours</button></a>
      </div>
      <div class="col-2" *ngIf="todo.status !== 'En Cours'">
        <a ><button mat-button (click)="updateTodoStatusById(todo.id, 'En Cours')">En cours</button></a>
      </div>
      <div class="col-2" *ngIf="todo.status === 'Fini'">
        <a ><button class="bg-primary text-white" mat-button (click)="updateTodoStatusById(todo.id, 'Fini')">Fini</button></a>
      </div>
      <div class="col-2" *ngIf="todo.status !== 'Fini'">
        <a ><button mat-button (click)="updateTodoStatusById(todo.id, 'Fini')">Fini</button></a>
      </div>
</div>
    </mat-card-actions>
  </mat-card>