<h1 class="mt-3 text-white">Détail de l'utilisateur</h1>
<div class="user-card ps-4 border border-white col-11 mx-auto rounded mt-5 pt-5 pb-5 fs-5">
    <div class="row justify-content-around text-start">               
        <p class="col-4">Nom : {{ user.lastName }}</p>
        <p class="col-4">Prénom : {{ user.name }}</p>
        <p class="col-4">Email : {{ user.email }}</p>
    </div>
    <div class="row justify-content-around text-start mt-4">
        <p class="col-4">Téléphone : {{ user.phone }}</p>
        <p class="col-4">Spécialization : {{ user.specialization.name }}</p>
        <p class="col-4">Expérience : {{ user.experience }} ans</p>
    </div>
    <div class="row justify-content-around text-start mt-4">
        <p>Addresse : {{ user.address }}</p>
    </div>
</div>
<div class="row justify-content-around">
    <div class="col-2 mx-auto">
        <button class="form-control mt-5 btn-success" [routerLink]="['/user/updateUser/', user.id]">Update User</button>
    </div>
    <div class="col-2 mx-auto">
        <button class="form-control mt-5 btn-danger" (click)="deleteUser(user.id)">Delete User</button>
    </div>
</div>