<div *ngIf="login">
  <app-login></app-login>
</div>

<div *ngIf="!login">
  <nb-layout>

    <nb-sidebar>

      <div *ngIf="router.url === '/user' || detailUser || updateUser || router.url === '/user/writing' || router.url === '/client' || detailClient || updateClient || router.url === '/client/writing' || router.url === '/specialization' || detailSpecialization || updateSpecialization || router.url === '/specialization/writing' || router.url === '/todo' || detailTodo || updateTodo || router.url === '/todo/writing' || router.url === '/todotemplate' || detailTodotemplate || updateTodotemplate || router.url === '/todotemplate/writing' || router.url === '/projecttype' || detailProjecttype || updateProjecttype || router.url === '/projecttype/writing' || router.url === '/quotepdf' || detailQuotepdf || router.url === '/quotepdf/writing'">
        <div class="row justify-content-around">
          <h2 class="text-center">RefWeb Logiciel</h2>
        </div>
        <app-sidebar></app-sidebar>
      </div>

      <div *ngIf="planning || listPlanning || detailPlanning || updatePlanning">
        <div class="row justify-content-around">
          <h2 class="text-center">RefWeb Logiciel</h2>
        </div>
        <app-sidebar-dev></app-sidebar-dev>
      </div>

    </nb-sidebar> 

    <nb-sidebar>
      <app-column></app-column>
    </nb-sidebar>

    <nb-layout-column>
      <app-content></app-content>
    </nb-layout-column>
  
  </nb-layout>
</div>


   