ul
{
    margin-top: 10px;
    padding:0; 
    list-style: none;
}

a:link 
{ 
 text-decoration:none; 
} 

.specializationlist{
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
}

.specializationlist:hover
{
    background-color: #B8DDFF;
}