<h1 class="mt-4 text-white">Créer un nouveau utilisateur</h1>

<div class="container">
    <form #newUserForm="ngForm" (submit)="addUser(newUserForm)">

        <div class="row justify-content-around">
            <div class="col-4 form-group mt-3">
                <label class="col-11 control-label" for="Name">Name</label>
                <div class="col-11  mx-auto">
                    <input id="Name" type="text" class="form-control" name="name" ngModel />
                </div> 
            </div>
            <div class="col-4 form-group mt-3">
                <label class="col-11 control-label" for="LastName">Last Name</label>
                <div class="col-11 mx-auto">
                    <input id="LastName" type="text" class="form-control" name="lastname" ngModel />
                </div> 
            </div>
            <div class="col-4 form-group mt-3">
                <label class="col-11 control-label" for="Email">Email</label>
                <div class="col-11 mx-auto">
                    <input id="Email" type="email" class="form-control" name="email" ngModel />
                </div>
            </div>
        </div>

        <div class="row justify-content-around">
            <div class="col-4 form-group mt-3">
                <label class="col-11 control-label" for="Phone">Phone</label>
                <div class="col-11 mx-auto">
                    <input id="Phone" type="text" class="form-control" name="phone" ngModel />
                </div> 
            </div>
            <div class="col-4 form-group mt-3">
                <label class="col-11 control-label" for="Experience">Experience</label>
                <div class="col-11 mx-auto">
                    <input id="Experience" type="number" class="form-control" name="experience" ngModel />
                </div> 
            </div>
            <div class="col-4 form-group mt-3">
                <label class="col-11 control-label" for="Address">Address</label>
                <div class="col-11 mx-auto">
                    <input id="Address" type="text" class="form-control" name="address" ngModel />
                </div> 
            </div>
        </div>

        <div class="row justify-content-around">
            <div class="col-4 form-group mt-3">
                <label class="col-11 control-label" for="Specialization">Specialization</label>
                <div class="col-11 mx-auto">
                    <select class="col-11" name="specialization" ngModel>
                        <option *ngFor="let spec of specializations" [ngValue]="spec.id" class="form-control">{{ spec.name }}</option>
                    </select>
                </div> 
            </div>
            <div class="col-4 form-group mt-3">
                <label class="col-11 control-label" for="Password">Password</label>
                <div class="col-11 mx-auto">
                    <input id="Password" type="password" class="form-control" name="password" ngModel />
                </div> 
            </div>
            <div class="col-4 form-group mt-3">
                <label class="col-11 control-label" for="ConfirmPassword">Confirm Password</label>
                <div class="col-11 mx-auto">
                    <input id="ConfirmPassword" type="password" class="form-control" name="confirmPassword" ngModel />
                </div>
            </div>
        </div>
    <div class="col-3 mx-auto">
        <button class="form-control mt-5 btn-success" [disabled]="!newUserForm.valid">Add new user</button>
    </div>
    </form>
 </div>

 <div *ngIf="msgTrue" class="text-warning fs-4 mt-2">
     <p>User added !</p>
</div>