<p class="text-center fs-5 mt-2">Liste des utilisateurs</p>
<input type="text" class="form-control" placeholder="Nom d'utilisateur" [(ngModel)]="searchTerm">    
    <ul>
        <li *ngFor="let user of users | userFilter:searchTerm">
            <a [routerLink]="['/user', user.id]" class="link primary">
            <mat-card class="userlist">
            <!-- charge le rooter outlet ayant le path user/:id et comme name userdetail -->
                <h4 class="mat-title">{{ user.name }} | {{ user.lastName }}</h4>
                <p class="mat-caption">{{ user.specialization.name }}</p>
            </mat-card>
            </a>
        
        </li>  
    </ul>


