<p>Liste des devis</p>
<input type="text" class="form-control" placeholder="Nom d'un projet" [(ngModel)]="searchTerm">   
<ul>
    <li *ngFor="let pdf of quotesPdf | quotePdfFilter:searchTerm">
        <a [routerLink]="['/quotepdf', pdf.id]" class="link primary">
        <mat-card class="quotepdflist">
                <h4 class="mat-title">{{ pdf.project.name }}</h4>
                <p class="mat-caption">Du : {{ pdf.project.startDate | date:'fullDate': 'fr' }}</p>
                <p class="mat-caption">Jusqu'au : {{ pdf.project.endtDate | date: 'fullDate'  }}</p>
        </mat-card>
        </a>
    </li>  
</ul>
