<mat-card class="user">
    <mat-card-header>
      <mat-card-title>{{ quotePdf.project.name }}</mat-card-title>
      <mat-card-subtitle>Client : {{ client.name}} {{ client.lastName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Date : du {{ quotePdf.project.startDate | date:'fullDate': 'fr' }} au {{ quotePdf.project.startDate | date:'fullDate': 'fr' }}</p>
      <!-- <p>Mail : {{ user.email }} | Téléphone : {{ user.phone }}</p>
      <p>Adresse : {{ user.address }}</p> -->
      <p>Liste des tâches</p>
      <div *ngFor="let todo of quotePdf.todoTemplates">
          <p>{{ todo.name }}</p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="deleteQuotePdfById(quotePdf.id)">SUPPRIMER</button>
      <button mat-button (click)="startProjectByQuotePdfId(quotePdf.id)">LANCER LE PROJET</button>
      <!-- <a ><button mat-button [routerLink]="['/user/update/', user.id]">METTRE A JOUR</button></a> -->
    </mat-card-actions>
  </mat-card>
