
<!-- USER -->
<div *ngIf="detailUser && !detailClient">
    <app-user-detail></app-user-detail>
</div>

<div *ngIf="router.url === '/user/writing'">
    <app-user-writing></app-user-writing>
</div>

<div *ngIf="updateUser">
    <app-user-update></app-user-update>
</div>

<!-- CLIENT -->
<div *ngIf="detailClient && !detailUser">
    <app-client-detail></app-client-detail>
</div>

<div *ngIf="router.url === '/client/writing'">
    <app-client-writing></app-client-writing>
</div>

<div *ngIf="updateClient">
    <app-client-update></app-client-update>
</div>

<!-- SPECIALIZATION -->
<div *ngIf="detailSpecialization">
    <app-specialization-detail></app-specialization-detail>
</div>

<div *ngIf="router.url === '/specialization/writing'">
    <app-specialization-writing></app-specialization-writing>
</div>

<div *ngIf="updateSpecialization">
    <app-specialization-update></app-specialization-update>
</div>

<!-- TODO -->
<div *ngIf="detailTodo">
    <app-todo-detail></app-todo-detail>
</div>

<div *ngIf="updateTodo">
    <app-todo-update></app-todo-update>
</div>






