
<!-- USER -->
<div *ngIf="detailUser && !detailClient">
    <app-user-detail></app-user-detail>
</div>

<div *ngIf="router.url === '/user/writing'">
    <app-user-writing></app-user-writing>
</div>

<div *ngIf="updateUser">
    <app-user-update></app-user-update>
</div>

<!-- CLIENT -->
<div *ngIf="detailClient && !detailUser">
    <app-client-detail></app-client-detail>
</div>

<div *ngIf="router.url === '/client/writing'">
    <app-client-writing></app-client-writing>
</div>

<div *ngIf="updateClient">
    <app-client-update></app-client-update>
</div>

<!-- SPECIALIZATION -->
<div *ngIf="detailSpecialization">
    <app-specialization-detail></app-specialization-detail>
</div>

<div *ngIf="router.url === '/specialization/writing'">
    <app-specialization-writing></app-specialization-writing>
</div>

<div *ngIf="updateSpecialization">
    <app-specialization-update></app-specialization-update>
</div>

<!-- TODOTEMPLATE -->
<div *ngIf="detailTodotemplate">
    <app-todo-template-detail></app-todo-template-detail>
</div>

<div *ngIf="router.url === '/todotemplate/writing'">
    <app-todo-template-writing></app-todo-template-writing>
</div>

<div *ngIf="updateTodotemplate">
    <app-todo-template-update></app-todo-template-update>
</div>

<!-- PROJECTTYPE -->
<div *ngIf="detailProjecttype">
    <app-project-type-detail></app-project-type-detail>
</div>

<div *ngIf="router.url === '/projecttype/writing'">
    <app-project-type-writing></app-project-type-writing>
</div>

<div *ngIf="updateProjecttype">
    <app-project-type-update></app-project-type-update>
</div>

<!-- TODO -->
<div *ngIf="detailTodo">
    <app-todo-detail></app-todo-detail>
</div>

<div *ngIf="updateTodo">
    <app-todo-update></app-todo-update>
</div>

<!-- QUOTEPDF -->
<div *ngIf="detailQuotepdf">
    <app-quote-pdf-detail></app-quote-pdf-detail>
</div>

<div *ngIf="router.url === '/quotepdf/writing'">
    <app-quote-pdf-writing></app-quote-pdf-writing>
</div>










