<router-outlet name="userdetail"></router-outlet> <!--lié au component user-detail -->
<router-outlet name="userwriting"></router-outlet> <!--lié au component user-writing -->
<router-outlet name="userupdate"></router-outlet> <!--lié au component user-update -->

<router-outlet name='projecttypewriting'></router-outlet><!--lié au component project-type-writing -->
<router-outlet name="projecttypedetail"></router-outlet><!--lié au component project-type-detail -->
<router-outlet name="projecttypeupdate"></router-outlet><!--lié au component project-type-update -->

<router-outlet name="todotemplatewriting"></router-outlet><!--lié au component todo-template-writing -->