

.selector{
    margin: 20px;
}

.selector label{
    color: #8a8c90;
}

.selector select{
    margin-left: 10px;
    width: 30%;
    background-color: #8a8c90;
    border-radius: 10px;
    border-color: #8a8c90;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}