@forward '@nebular/theme/styles/theming';
@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/dark';
@use '@nebular/theme/styles/themes/cosmic';
@use '@nebular/theme/styles/themes/corporate';

$nb-themes: nb-register-theme((

  // add your variables here like:

  // color-primary-100: #f2f6ff,
  // color-primary-200: #d9e4ff,
  // color-primary-300: #a6c1ff,
  // color-primary-400: #598bff,
  // color-primary-500: #3366ff,
  // color-primary-600: #274bdb,
  // color-primary-700: #1a34b8,
  // color-primary-800: #102694,
  // color-primary-900: #091c7a,
  // color-basic-700: #091c7a,
  // color-basic-800: #091c7a,
  // color-basic-900: #091c7a,
  // color-basic-100: #091c7a,
  // background-basic-color-1: #ffb342,
  // background-basic-color-2: #00ff15,
  // background-basic-color-3: #f72222,
  // background-basic-color-4: #7b08ff,
  // border-basic-color-1: #7b08ff,
  // border-basic-color-2: #7b08ff,
  // border-basic-color-3: #7b08ff,
  // border-basic-color-4: #7b08ff,
  // border-basic-color-5: #7b08ff,
  // text-basic-color: #7b08ff,
  // text-disabled-color: #7b08ff,
  // text-alternate-color: #7b08ff,
  // text-hint-color: #7b08ff,

), dark, dark);

.menu-title {
  margin-left: 20px;
}

.scrollable {
  margin-top: -85px !important;
}